shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
recursive-install=true
prefer-frozen-lockfile=true
fetch-timeout=60000
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
